<% include partial/header %>
<div class="row text-right">
<div class="col-sm-12"><button class="btn" data-toggle="modal" data-target="#addPictModal">Add new picture</button></div>
</div>
<% include partial/footer %>
<% include partial/modal %>