html, body {
	margin:0;
	padding:0;
	height:100%;
}

body{
	font-size: 14px;
}

#header{
	width: 100%;
	line-height: 20px;
	padding: 20px;
}

#main{
	min-height: ~"calc(100% - 120px)"; /* 100% - header - footer */
}

#content{
}

#footer{
    width: 100%;
    line-height: 20px;
    padding: 20px;
}

button:focus {outline:0;}
.btn:focus,.btn:active:focus,.btn.active:focus,
.btn.focus,.btn:active.focus,.btn.active.focus {
    outline: none;
}
